        
<div class="row">  
  <div class="form-group col-sm-6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="row"> 
  <div class="form-group col-sm-6">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <small class="text-muted">Leave blank if you don't want to change it.</small>
  </div>
</div>

<div class="row"> 
  <div class="form-group col-sm-6">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
</div>

