<div class="container">
  <div class="card job-list">
    
    <div class="card-block" id="job-list-header">
      <h3>List of Applications<h3>
    </div>

    <div class="card-block card-header">
      <h4 class="card-title"><%= @job.title %></h4>
      <h6 class="text-muted"><%= @job.company %></h6>
      <h6 class="text-muted"><%= @job.city %>, <%= @job.state %></h6>
    </div>

    <table class="table card-block table-hover">
    
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Email</th>
          <th>Date Submitted</th>
          <th class="text-xs-center">Action</th>
        </tr>
      </thead>  
      
      <tbody class="card-block">
        <% @applications.each do |application| %>   
          <tr>
            <td><%= application.id %></td>
            <td><%= application.last_name %></td>
            <td><%= application.first_name %></td>
            <td><%= application.email %></td>
            <td><%= distance_of_time_in_words(Time.now, application.created_at) %> ago</td>
            <td><h5 class="text-xs-center"><%= link_to "Show", job_application_path(@job.id, application.id), class: "label label-pill label-primary"%></h5></td>
          </tr>
        <% end %>
      </tbody>
      
    </table>
    
    <div class="card-block text-xs-left" id="job-list-footer">
      <%= link_to "< Back to My Jobs List", user_jobs_path(current_user), class: "btn btn-primary" %>
    </div>

  </div>
</div>
