<div class="container">
  
  <div class="card job-list">
    <div class="card-block card-header">
      <h4 class="card-title"><%= @job.title %></h4>
      <h5 class="text-muted"><%= @job.company %></h6>
      <h5 class="text-muted"><%= @job.city %>, <%= @job.state %></h6>
    </div>

    <div class="card-block" >
      
        <%= simple_format(@job.description) %>
      
    </div>

    <div class="card-block card-footer" id="job-show-footer">
      <div class="row">
  
        <div class="col-sm-4 m-t-2" >
          <%= link_to "< Back to My Jobs", user_jobs_path(@employer), class: "btn btn-primary" %>
        </div>

        <div class="col-sm-4 text-xs-center m-t-2">
          <% if @employer == current_user %>
            <%= link_to "Edit This Job Post", edit_job_path(@job), class: "btn btn-success" %>
          <% end %>
        </div>

      </div><!-- close row -->
    </div><!-- close card-footer -->
    
  </div><!-- close card -->
</div><!-- close container -->

